@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
  transition: .15s;
}

body{ 
  background: #fff;
  overflow-x: hidden;
}

.nav {
  @apply fixed bg-white w-full border-b-2 top-0 justify-center align-middle leading-10 h-auto;
  z-index: 12;
}
.nav-link{
  display: inline-block;
}
.nav a{
  @apply p-2 my-auto mx-1 cursor-pointer font-medium uppercase;
  font-family: 'Recursive', sans-serif;
}
.nav-logo{
  @apply w-full;
}

.nav a:hover{
  @apply bg-black text-white rounded-lg;
}


.row{
  @apply flex flex-wrap justify-around px-10;}

.row a{
  @apply no-underline text-black;}

.card{
  @apply w-full bg-white my-8 rounded-lg text-gray-600 transform overflow-hidden cursor-pointer;
  box-shadow: 2px 3px 10px;}

.card:hover{
  @apply scale-105;
  box-shadow: 4px 5px 25px #111;
}

.card img{
  @apply w-full border-b-2;
}

.card h1{
  @apply text-lg p-5;}
.card p{
  @apply p-4 text-sm;
}
.chip{
  @apply block mt-2 ml-5 text-blue-600;
}

#sidebar{
  @apply h-full fixed w-64 bg-white border-r-2;
  z-index: 13;
}

.side-heading h1{
  @apply font-medium mt-6 mb-2;  
  font-family: 'Recursive', sans-serif;
}
#sidebar li{
  @apply font-light px-3;
  font-family: 'Recursive', sans-serif;
}

#sidebar li:hover{
  @apply bg-black text-white;
}

#sidebar .active{
  @apply bg-black text-white;
}

.nav-logo .logo{
  @apply inline-block mx-2;
  margin-left: 40%;
  height: 50%;
  width: 70px;
}

#close{
  @apply w-full float-right text-3xl leading-10 border-b pr-4 text-right mb-4;
}

.sidebar-btn{
  @apply text-xl cursor-pointer p-2 bg-gray-300 rounded mt-1 mx-1;
}


@media (max-width: 640px){
  .card{
    width: 90%;
  }
}
@media (min-width: 768px){
  .card{
    width: 43%;
  }
  .nav-logo{
    @apply inline-block w-auto;
  }
  .nav-logo .logo{
    @apply ml-0;
  }
}
@media (min-width: 1024px){   
}
@media (min-width: 1280px){
  .card{
    width: 30%;
  }
}