@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
  transition: .15s;
}

body{ 
  background: #fff;
}

.flat-icons{
	height: 150px;
}
.fluent-icons{
	height: 80px;
}
.html{
}


@media (min-width: 640px){

}
@media (min-width: 768px){

}
@media (min-width: 1024px){ 

}
@media (min-width: 1280px){

}